<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1b804ac1-c9bb-41a2-8570-f5ce4f7834d3" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1b804ac1-c9bb-41a2-8570-f5ce4f7834d3fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
