<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d384972d-9210-4f53-b3f7-9bff8e25f650" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d384972d-9210-4f53-b3f7-9bff8e25f650fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
