<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a7e52ace-ebb3-4d93-9552-70caace91ce1" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a7e52ace-ebb3-4d93-9552-70caace91ce1fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
