<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="15398e5c-43bf-4f02-9111-bf996069015f" name="Pineapple Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="15398e5c-43bf-4f02-9111-bf996069015ffileName">Pineapple-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
